body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

#nav {
    top: -300px;
    position: fixed;
    width: 100%;
    background-color: #CDF0EA;
    display: block;
    transition: 0.4s;
    box-shadow: 2px 2px 4px #212227;
    z-index: 99;
}

.nav-item:first-child {
    float: left;
}

.nav-item {
    padding: 22px;
    float: right;
    color: #212227;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    position: relative;
}

#nav a:hover {
    color: #1B4B43;
}

#nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BEAEE2;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#page-content {
    width: 100%;
}

#intro {
    background-color: #FFA9A9;
    min-height: 100vh;
    color: #212227;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    animation-name: intro-background;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

#intro h1 {
    padding-left: 5%;
    max-width: 100%;
    font-size: 50px;
}

#intro h2 {
    padding-left: 5%;
    font-size: 30px;
}

@keyframes intro-background {
    20% {
        background-color: #FFA9A9;
    }

    40% {
        background-color: #FF9997;
    }

    60% {
        background-origin: #FF8986;
    }

    80% {
        background-color: #FF7974;
    }

    100% {
        background-color: #FFA9A9;
    }
}

.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow a {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #212227;
    border-right: 5px solid #212227;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow-animate 3s infinite;
}


@keyframes arrow-animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#about-me {
    min-height: 100vh;
    padding: 20px;
    background-color: #F9F9F9;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-content {
    box-shadow: 10px 10px #FFE2D1;
    border-radius: 5px;
    border: 2px solid #212227;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

#about-me-content a {
    color: #101530;
}
.section-header {
    color: #212227;
}


.row-container img {
    width: 300px;
    height: 300px;
    border: 2px solid #212227;
    box-shadow: 10px 10px #FFE2D1;
    border-radius: 5px;
    margin: 20px;
}

#education {
    background-color: #E9ECEF;
    padding: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content-container {
    width: 60%;
    height: fit-content;
}


#education-uni-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 10px 10px #FFE2D1;
    border: 2px solid #212227;
}

#education-text-container {
    flex-direction: column;
}

#classes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#projects {
    background-color: #DEE2E6;
    height: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

#project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#project-card {
    width: 350px;
    height: 615px;
    border: 2px solid #212227;
    background-color: #F9F9F9;
    box-shadow: 10px 10px #FFE2D1;
    border-radius: 5px;
    margin: 15px
}

#project-card h1, h2, h3, h4, h5 {
    padding-left: 4px;
    margin: 0px;
    padding-right: 4px;
}

#project-card h5, a {
    text-decoration: none;
    font-style: italic;
}



#footer {
    background-color: #BE92A2;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#closing-caption h3 {
    margin: 0;
}
.footer-img {
    padding: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.row-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 80%;
}